################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RenameFiles/bin/
/RenameFiles/obj/
/.vs/